In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [1]:
import pandas as pd
import numpy as np

In [ ]:
def clean_housing_price(df):
  # drop the extra columns and rows
  housing_price = df.drop(df.columns[range(62, len(df.columns))], axis=1)
  housing_price = housing_price.drop(list(range(385, 392)), axis=0)

  # build and insert month column and year column
  month = [date.split('-')[0] for date in housing_price['Mon-Yr']]
  year = [date.split('-')[1] for date in housing_price['Mon-Yr']]
  for idx, yr in enumerate(year):
    if yr[0] == '9':
      year[idx] = '19' + yr
    else:
      year[idx] = '20' + yr

  housing_price.insert(loc=1, value=month, column='Month')
  housing_price.insert(loc=2, value=year, column='Year')

  # format the price number notation
  for col in range(3, len(housing_price.columns)):
    for row in range(len(housing_price)):
      if not pd.isna(housing_price.iloc[row, col]):
        # remove the leading dollar sign and comma
        housing_price.iloc[row, col] = int(''.join(housing_price.iloc[row, col][1:].split(',')))
      else:
        # replace nan with None
        housing_price.iloc[row, col] = None

  return housing_price

In [ ]:
housing_price_raw = pd.read_csv('/content/drive/MyDrive/560 -Team Random/dataset/housing_price.csv')
housing_price = clean_housing_price(housing_price_raw)
housing_price.head()

,Mon-Yr,Month,Year,CA,Alameda,Amador,Butte,Calaveras,Contra-Costa,Del Norte,...,Yuba,Unnamed: 53,Condo,LA Metro,Central Coast,Central Valley,Far North,Inland Empire,S.F. Bay Area,SoCal
0,Jan-90,Jan,1990,194952,226149,None,102143,None,None,None,...,None,NaN,141519,203390,None,None,None,None,227366,None
1,Feb-90,Feb,1990,196273,219306,None,83333,None,None,None,...,None,NaN,144965,211024,None,None,None,None,234739,None
2,Mar-90,Mar,1990,194856,225162,None,100000,None,None,None,...,None,NaN,141132,209286,None,None,None,None,235337,None
3,Apr-90,Apr,1990,196111,229333,None,108000,None,None,None,...,None,NaN,145707,210302,None,None,None,None,233178,None
4,May-90,May,1990,195281,232291,None,100000,None,None,None,...,None,NaN,146060,210148,None,None,None,None,235881,None

In [ ]:
housing_price.set_index('Mon-Yr', inplace=True)

In [ ]:
v = housing_price.loc['Feb-90', 'Calaveras']
if v==None:
  print('fadsfa')

fadsfa

In [ ]:
date_list = list(housing_price['Mon-Yr'])
date_list

['Jan-90',
 'Feb-90',
 'Mar-90',
 'Apr-90',
 'May-90',
 'Jun-90',
 'Jul-90',
 'Aug-90',
 'Sep-90',
 'Oct-90',
 'Nov-90',
 'Dec-90',
 'Jan-91',
 'Feb-91',
 'Mar-91',
 'Apr-91',
 'May-91',
 'Jun-91',
 'Jul-91',
 'Aug-91',
 'Sep-91',
 'Oct-91',
 'Nov-91',
 'Dec-91',
 'Jan-92',
 'Feb-92',
 'Mar-92',
 'Apr-92',
 'May-92',
 'Jun-92',
 'Jul-92',
 'Aug-92',
 'Sep-92',
 'Oct-92',
 'Nov-92',
 'Dec-92',
 'Jan-93',
 'Feb-93',
 'Mar-93',
 'Apr-93',
 'May-93',
 'Jun-93',
 'Jul-93',
 'Aug-93',
 'Sep-93',
 'Oct-93',
 'Nov-93',
 'Dec-93',
 'Jan-94',
 'Feb-94',
 'Mar-94',
 'Apr-94',
 'May-94',
 'Jun-94',
 'Jul-94',
 'Aug-94',
 'Sep-94',
 'Oct-94',
 'Nov-94',
 'Dec-94',
 'Jan-95',
 'Feb-95',
 'Mar-95',
 'Apr-95',
 'May-95',
 'Jun-95',
 'Jul-95',
 'Aug-95',
 'Sep-95',
 'Oct-95',
 'Nov-95',
 'Dec-95',
 'Jan-96',
 'Feb-96',
 'Mar-96',
 'Apr-96',
 'May-96',
 'Jun-96',
 'Jul-96',
 'Aug-96',
 'Sep-96',
 'Oct-96',
 'Nov-96',
 'Dec-96',
 'Jan-97',
 'Feb-97',
 'Mar-97',
 'Apr-97',
 'May-97',
 'Jun-97',
 'Jul-97',
 'Aug-97',
 'Sep-97',
 'Oct-97',
 'Nov-97',
 'Dec-97',
 'Jan-98',
 'Feb-98',
 'Mar-98',
 'Apr-98',
 'May-98',
 'Jun-98',
 'Jul-98',
 'Aug-98',
 'Sep-98',
 'Oct-98',
 'Nov-98',
 'Dec-98',
 'Jan-99',
 'Feb-99',
 'Mar-99',
 'Apr-99',
 'May-99',
 'Jun-99',
 'Jul-99',
 'Aug-99',
 'Sep-99',
 'Oct-99',
 'Nov-99',
 'Dec-99',
 'Jan-00',
 'Feb-00',
 'Mar-00',
 'Apr-00',
 'May-00',
 'Jun-00',
 'Jul-00',
 'Aug-00',
 'Sep-00',
 'Oct-00',
 'Nov-00',
 'Dec-00',
 'Jan-01',
 'Feb-01',
 'Mar-01',
 'Apr-01',
 'May-01',
 'Jun-01',
 'Jul-01',
 'Aug-01',
 'Sep-01',
 'Oct-01',
 'Nov-01',
 'Dec-01',
 'Jan-02',
 'Feb-02',
 'Mar-02',
 'Apr-02',
 'May-02',
 'Jun-02',
 'Jul-02',
 'Aug-02',
 'Sep-02',
 'Oct-02',
 'Nov-02',
 'Dec-02',
 'Jan-03',
 'Feb-03',
 'Mar-03',
 'Apr-03',
 'May-03',
 'Jun-03',
 'Jul-03',
 'Aug-03',
 'Sep-03',
 'Oct-03',
 'Nov-03',
 'Dec-03',
 'Jan-04',
 'Feb-04',
 'Mar-04',
 'Apr-04',
 'May-04',
 'Jun-04',
 'Jul-04',
 'Aug-04',
 'Sep-04',
 'Oct-04',
 'Nov-04',
 'Dec-04',
 'Jan-05',
 'Feb-05',
 'Mar-05',
 'Apr-05',
 'May-05',
 'Jun-05',
 'Jul-05',
 'Aug-05',
 'Sep-05',
 'Oct-05',
 'Nov-05',
 'Dec-05',
 'Jan-06',
 'Feb-06',
 'Mar-06',
 'Apr-06',
 'May-06',
 'Jun-06',
 'Jul-06',
 'Aug-06',
 'Sep-06',
 'Oct-06',
 'Nov-06',
 'Dec-06',
 'Jan-07',
 'Feb-07',
 'Mar-07',
 'Apr-07',
 'May-07',
 'Jun-07',
 'Jul-07',
 'Aug-07',
 'Sep-07',
 'Oct-07',
 'Nov-07',
 'Dec-07',
 'Jan-08',
 'Feb-08',
 'Mar-08',
 'Apr-08',
 'May-08',
 'Jun-08',
 'Jul-08',
 'Aug-08',
 'Sep-08',
 'Oct-08',
 'Nov-08',
 'Dec-08',
 'Jan-09',
 'Feb-09',
 'Mar-09',
 'Apr-09',
 'May-09',
 'Jun-09',
 'Jul-09',
 'Aug-09',
 'Sep-09',
 'Oct-09',
 'Nov-09',
 'Dec-09',
 'Jan-10',
 'Feb-10',
 'Mar-10',
 'Apr-10',
 'May-10',
 'Jun-10',
 'Jul-10',
 'Aug-10',
 'Sep-10',
 'Oct-10',
 'Nov-10',
 'Dec-10',
 'Jan-11',
 'Feb-11',
 'Mar-11',
 'Apr-11',
 'May-11',
 'Jun-11',
 'Jul-11',
 'Aug-11',
 'Sep-11',
 'Oct-11',
 'Nov-11',
 'Dec-11',
 'Jan-12',
 'Feb-12',
 'Mar-12',
 'Apr-12',
 'May-12',
 'Jun-12',
 'Jul-12',
 'Aug-12',
 'Sep-12',
 'Oct-12',
 'Nov-12',
 'Dec-12',
 'Jan-13',
 'Feb-13',
 'Mar-13',
 'Apr-13',
 'May-13',
 'Jun-13',
 'Jul-13',
 'Aug-13',
 'Sep-13',
 'Oct-13',
 'Nov-13',
 'Dec-13',
 'Jan-14',
 'Feb-14',
 'Mar-14',
 'Apr-14',
 'May-14',
 'Jun-14',
 'Jul-14',
 'Aug-14',
 'Sep-14',
 'Oct-14',
 'Nov-14',
 'Dec-14',
 'Jan-15',
 'Feb-15',
 'Mar-15',
 'Apr-15',
 'May-15',
 'Jun-15',
 'Jul-15',
 'Aug-15',
 'Sep-15',
 'Oct-15',
 'Nov-15',
 'Dec-15',
 'Jan-16',
 'Feb-16',
 'Mar-16',
 'Apr-16',
 'May-16',
 'Jun-16',
 'Jul-16',
 'Aug-16',
 'Sep-16',
 'Oct-16',
 'Nov-16',
 'Dec-16',
 'Jan-17',
 'Feb-17',
 'Mar-17',
 'Apr-17',
 'May-17',
 'Jun-17',
 'Jul-17',
 'Aug-17',
 'Sep-17',
 'Oct-17',
 'Nov-17',
 'Dec-17',
 'Jan-18',
 'Feb-18',
 'Mar-18',
 'Apr-18',
 'May-18',
 'Jun-18',
 'Jul-18',
 'Aug-18',
 'Sep-18',
 'Oct-18',
 'Nov-18',
 'Dec-18',
 'Jan-19',
 'Feb-19',
 'Mar-19',
 'Apr-19',
 'May-19',
 'Jun-19',
 'Jul-19',
 'Aug-19',
 'Sep-19',
 'Oct-19',
 'Nov-19',
 'Dec-19',
 'Jan-20',
 'Feb-20',
 'Mar-20',
 'Apr-20',
 'May-20',
 'Jun-20',
 'Jul-20',
 'Aug-20',
 'Sep-20',
 'Oct-20',
 'Nov-20',
 'Dec-20',
 'Jan-21',
 'Feb-21',
 'Mar-21',
 'Apr-21',
 'May-21',
 'Jun-21',
 'Jul-21',
 'Aug-21',
 'Sep-21',
 'Oct-21',
 'Nov-21',
 'Dec-21',
 'Jan-22']

In [ ]:
def clean_water_quality(df):
  # pick and rename only the related columns
  water_quality = df[['COUNTY_NAME', 'SAMPLE_DATE', 'PARAMETER', 'RESULT', 'REPORTING_LIMIT']]
  water_quality.columns = ['County', 'Date', 'Parameter', 'Result', 'Limit']

  # format the date into month and year
  month_dict = {
    '01': 'Jan',
    '02': 'Feb',
    '03': 'Mar',
    '04': 'Apr',
    '05': 'May',
    '06': 'Jun',
    '07': 'Jul',
    '08': 'Aug',
    '09': 'Sep',
    '10': 'Oct',
    '11': 'Nov',
    '12': 'Dec'
  }
  month = [month_dict[date.split('/')[0]] for date in water_quality['Date']]
  year = [date.split(' ')[0].split('/')[2] for date in water_quality['Date']]

  # add date and year column and drop the original date column
  water_quality.insert(loc=2, value=month, column='Month')
  water_quality.insert(loc=3, value=year, column='Year')
  water_quality.drop(columns='Date', axis=1, inplace=True)

  # drop the rows with NaN result or limit value
  # becasue we cannot tell if this a polluted water source
  water_quality.dropna(subset=['Result', 'Limit'], inplace=True)
  water_quality['Polluted'] = water_quality['Result'] > water_quality['Limit']

  # calculate the result to limit ratio and handle the division by zero case
  water_quality['Ratio'] = water_quality['Result'] / water_quality['Limit']
  water_quality['Ratio'].fillna(0, inplace=True)

  return water_quality

In [4]:
water_quality_raw = pd.read_csv('/content/drive/MyDrive/560 -Team Random/dataset/lab_results.csv')
#water_quality = clean_water_quality(water_quality_raw)
water_quality_raw.head()

,STATION_ID,STATION_NAME,FULL_STATION_NAME,STATION_NUMBER,STATION_TYPE,LATITUDE,LONGITUDE,STATUS,COUNTY_NAME,SAMPLE_CODE,SAMPLE_DATE,SAMPLE_DEPTH,SAMPLE_DEPTH_UNITS,PARAMETER,RESULT,REPORTING_LIMIT,UNITS,METHOD_NAME
0,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.562,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Conductance,3480.0,1.0,uS/cm,EPA 120.1
1,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.562,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Boron,7.7,0.1,mg/L,"Std Method 4500-B, C"
2,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.562,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Calcium,68.0,1.0,mg/L,EPA 215.2
3,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.562,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Chloride,758.0,0.1,mg/L,"Std Method 4500-Cl, B"
4,8135,01S04E32C001M,01S04E32C001M,01S04E32C001M,Groundwater,37.8073,-121.562,Review Status Unknown,Alameda,WDIS_0719152,05/03/1967 09:00,NaN,Feet,Dissolved Magnesium,59.0,0.1,mg/L,"Std Method 3500-Mg, E"

In [ ]:
air_quality_file_prefix = '/content/drive/MyDrive/dataset/annual_aqi_by_county_'
air_quality_dataset_list = []
for year in range(2000, 2022):
  air_quality_file_path = air_quality_file_prefix + str(year) + '.csv'
  curr_dataset = pd.read_csv(air_quality_file_path)
  curr_dataset = curr_dataset[curr_dataset['State'] == 'California']
  air_quality_dataset_list.append(curr_dataset)
air_quality = pd.concat(air_quality_dataset_list)
air_quality.head()

         State     County  Year  ...  Days SO2  Days PM2.5  Days PM10
63  California    Alameda  2000  ...         0          53          0
64  California     Amador  2000  ...         0           0          0
65  California      Butte  2000  ...         0          25         19
66  California  Calaveras  2000  ...         0          23          1
67  California     Colusa  2000  ...         0          30         55

[5 rows x 19 columns]

In [ ]:
wells_data = pd.read_csv('/content/drive/MyDrive/dataset/wells_data.csv')
wells_data = wells_data.drop(['OID', 'API', 'LeaseName', 'WellNumber', 
                              'OperatorCo', 'OperatorNa', 'FieldName',
                              'AreaName', 'District', 'Section',
                              'Township', 'Range', 'BaseMeridi',
                              'GISSource'], axis = 1)
wells_data.head()

  WellStatus WellType WellTypeLa  ... isDirectio    SpudDate  WellSymbol
0       Idle       DG    Dry Gas  ...          N  02/17/1988      IdleDG
1       Idle       DG    Dry Gas  ...          N  12/07/1999      IdleDG
2       Idle       DG    Dry Gas  ...          N  05/13/2000      IdleDG
3       Idle       DG    Dry Gas  ...          N  11/06/2002      IdleDG
4    Plugged       DH   Dry Hole  ...          N  06/11/1959   PluggedDH

[5 rows x 10 columns]

In [6]:
wells_data = pd.read_csv('/content/drive/MyDrive/560 -Team Random/dataset/wells_data.csv')

In [9]:
wells_data.head()

,OID,API,LeaseName,WellNumber,WellStatus,WellType,WellTypeLa,OperatorCo,OperatorNa,FieldName,...,Township,Range,BaseMeridi,Latitude,Longitude,GISSource,isConfiden,isDirectio,SpudDate,WellSymbol
0,-1,402120521,Angel Slough,2-1,Idle,DG,Dry Gas,C8720,"Crain Orchards, Inc.",Afton Gas,...,18N,01W,MD,39.449158,-121.946289,GPS,N,N,02/17/1988,IdleDG
1,-1,402120723,Kauai,3-1,Idle,DG,Dry Gas,R4085,"Royale Energy, Inc.",Afton Gas,...,18N,01W,MD,39.440640,-121.951889,GPS,N,N,12/07/1999,IdleDG
2,-1,402120734,Lanai,3-3,Idle,DG,Dry Gas,R4085,"Royale Energy, Inc.",Afton Gas,...,18N,01W,MD,39.447174,-121.961273,GPS,N,N,05/13/2000,IdleDG
3,-1,402120815,Anacapa,3-4,Idle,DG,Dry Gas,R4085,"Royale Energy, Inc.",Afton Gas,...,18N,01W,MD,39.443230,-121.951042,GPS,N,N,11/06/2002,IdleDG
4,-1,402100240,Max Pray-Central Valley-Boyd U,1,Plugged,DH,Dry Hole,03279,General Expl. Co. of Ca,Afton Gas,...,18N,01W,MD,39.438267,-121.947418,hud,N,N,06/11/1959,PluggedDH

In [8]:
wells_data.columns

Index(['OID', 'API', 'LeaseName', 'WellNumber', 'WellStatus', 'WellType',
       'WellTypeLa', 'OperatorCo', 'OperatorNa', 'FieldName', 'AreaName',
       'District', 'CountyName', 'Section', 'Township', 'Range', 'BaseMeridi',
       'Latitude', 'Longitude', 'GISSource', 'isConfiden', 'isDirectio',
       'SpudDate', 'WellSymbol'],
      dtype='object')